*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app{
  background-image: url('https://random.imagecdn.app/500/150');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-container{
  text-align: center;
  background-color: rgb(255, 224, 184);
  border-radius: 10px;
  padding: 35px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 12px 10px 0px rgb(0 0 0 / 50%);
  border: 3px solid #D4AF37;
}

.quote-container p {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 20px;
}

.quote-container button{
  padding: 15px;
  margin-top: 30px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .5);
  transition: all 200ms ease-in;
}

.quote-container button:hover{
  background-color: #D4AF37;
  color: white;
}